@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {


  --font-main: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-secondary);
  color: var(--text-main);
  font-family: 'Inter', -apple-system, sans-serif;
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, .ant-typography {
  font-family: var(--font-main) !important;
  font-weight: 600;
}

h1 {
  letter-spacing: -0.02em; 
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  color: black !important;
  font-size: 24px; 
}

.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::before {
  color: black !important;
  opacity: 0.75;
}
